body {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1em;
}