.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;
}
.avatars:hover {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
    position: relative;
} 
.infoContainer {
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
}
.shareIcon {
    margin: 0 8px 0 0;
}
.description > p {
    color: #8f8f8f;
    font-size: 12px;

}
.description > p:hover {
    color: white;
    transition-duration: 2s;
    transition-property: color;
} 
iframe {
    width: -webkit-fill-available;
}
#title {
    font-size: 16px;
    color: #fff;
    margin: 0 0 12px 0;
}
.viewsContainer {
    color: #8f8f8f;
    font-size: 14px;
}
.avatars {
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.grid {
    gap: 1em; 
    padding: 15px 3px 10px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e2e;
    overflow-x: hidden;
}
.videoContainer {
    width: 300px;
}