
.container {
  display: flex;
  flex-direction: row;
}
#welcome {
  font-size: 48px;
  color: #0DBEA3;
  text-transform: capitalize;
  text-align: center;
}
.SignUp {
  font-size: 48px;
  text-transform: capitalize;
  margin: 48px 0 48px 0;
}
#SignUpBenefits {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}
.containerImage {
  /*background-color: yellow;*/
  /*flex-grow: 1;*/
  width: 50%;
  padding: 0 25px 0 25px;
}
.formContainer {
  /*flex-grow: 1;*/
  width: 50%;
  /*background-color: pink;*/
  padding: 0 25px 0 25px;
}
#form {
  display: flex;
  flex-direction: column;
}
#image {
  width: 200px;
  height: 200px;
}

label {
  text-transform: uppercase;
}
input {
  border-color: #A39F9F;
  height: 30px;
  width: 65%;
}
button {
  color: #ffffff;
  background-color: #0DBEA3;
  border: 0;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  width: 30%;
}
